body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #f5EFEB;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.profile .avatar {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.menu button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background: #C8D9E6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.menu button:hover {
    background-color: #ccc;
}

.content {
    height: 100vh;
    padding: 20px;
    width: 80%;
}
  
.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.accordion-item {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #729bbd;
}
  
.accordion-header {
    background-color: #C8D9E6;
    color: black;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.accordion-header::after {
    content: "\25BC";
    font-size: 16px;
}
  
.accordion-content {
    display: none;
    padding: 15px;
    background-color: #e8f0f6;
}
  
.accordion-content p {
    margin: 5px 0;
}
  
.badge {
    background-color: #4a90e2;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}
  
.update-button {
    padding: 8px 12px;
    background-color: #c5e3c8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
.update-button:hover {
    background-color: #b2d6b8;
}
  